*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: rgb(15,17,17);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.logo{
    background-image: url("images/amazon-logo2.png");
    background-size: cover;
    height: 58px;
    width: 130px;
    }
 .nav-logo{
    border:0.2px solid transparent;
 }   
 .nav-logo :hover{
    border: 0.2px solid white;
 }
 .add1{
    font-size: 12px;
    color: rgb(204,204,204);
    margin-left: 30px;
 }
 .add2{
    font-size:14px;
    color:rgb(255,255,255);
 }
.add-icon{
    display: flex;
    align-items: center;
    margin-left:10px;
}
.nav-address{
    border:0.2px solid transparent;
 }   
.nav-address:hover{
    border: 0.2px solid white;
 }
.search{
   display: flex;
   justify-content: space-evenly;
   width: 850px;
   height: 40px;
   background-color: bisque;
   border-radius: 4px;
}
.search{ 
   border: 0.2px solid transparent;
}
.search:hover{
   border: 2px solid orange;
}
.search-select{
   background-color: rgb(230,230,230);
   width: 45px;
   text-align: center;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border: none;
   color: grey;
}
.search input{
   width: 100%;
   font-size: 15px;
   border: none;
   background-color: white;

}
.search-icon{
   width: 45px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:#f8bd19;
   font-size: 1.2rem;
   color: black;
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   border: none;
}
.flag{
   background-image: url("images/UN-flag.webp");
   height: 20px;
   width: 20px;
   background-size: cover;
   display: flex;
}
.flag select{
   background: transparent;
   color: white;
   font-size: 14px;
   border: none;
   margin-left: 20px;
   
}
.signin{
   margin-left: 35px;
}
.nav-second{
   font-weight: 700;
}
.ss{
   font-weight: 700;
}
.signin{
    border:0.2px solid transparent;
 }   
 .signin:hover{
    border: 0.2px solid white;
 }
 .order{
    border:0.2px solid transparent;
 }   
 .order:hover{
    border: 0.2px solid white;
 }
 .nav-cart i{
   font-size:25px;

 }
 .nav-cart{
   font-weight:700;
 }
 .nav-cart{
    border:0.2px solid transparent;
 }   
 .nav-cart:hover{
    border: 0.2px solid white;
 }
 .panel{
   height: 39px;
   color: white;
   background-color: rgb(35,47,62);
   display: flex;
   align-items: center;
   
 }
 .panel-right{
   border: 0.2px solid transparent;
   margin-left: 12px;
   font-weight: 700;
 }
 .panel-right:hover{
   border: 2px solid white;
}
.p1{
   border: 2px solid transparent;
   margin-left: 15px;
   font-size: 14px;
}
.p1:hover{
   border: 2px solid white;
}
.p2{
   border: 2px solid transparent;
   margin-left: 14px;
   font-size: 14px;
}
.p2:hover{
   border: 2px solid white;
}
.p3{
   border: 2px solid transparent;
   margin-left: 14px;
   font-size: 14px;
}
.p3:hover{
   border: 2px solid white;
}
.p4{
   border: 2px solid transparent;
   margin-left: 14px;
   font-size: 14px;
}
.p4:hover{
   border: 2px solid white;
}
.p5{
   border: 2px solid transparent;
   margin-left: 14px;
   font-size: 14px;
}
.p5:hover{
   border: 2px solid white;
}
.p6{
   border: 2px solid transparent;
   margin-left: 14px;
   font-size: 14px;
}
.p6:hover{
   border: 2px solid white;
}
.hero-section{
   background-image:url("images/hero.jpg");
   height: 400px;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: end;


}
.mssg{
   background-color: white;
   color: black;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 14px;
   margin-bottom: 80px;
   width: 95%;


}
.mssg a{
   color: rgb(33,98,161);
text-decoration: none;
}
.box1{
   height: 400px;
   border: 2px solid white;
   margin-top: 10px;

   width: 23%;
    background-color: white;
    padding: 20px 0px 15px 0px;

}
.box2{
   height: 400px;
   margin-top: 10px;

   width: 23%;
    background-color: white;
    padding: 20px 0px 15px 0px;
}

.box3{
   height: 400px;
   margin-top: 10px;
   
   width: 23%;
    background-color: white;
    padding: 20px 0px 15px 0px;
}

.box4{
   height: 400px;
   margin-top: 10px;

   width: 23%;
   background-color: white;
   padding: 20px 0px 15px 0px;
   
}
.shop-selection{
   display : flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   background-color:rgb(222, 239, 28);
   border: none;

}
.image1{
   height: 300px;
   background-size: cover;
   margin-top: 13px;
   margin-bottom: 13px;
   }
.box1-content{
   margin-left: 10px;
   margin-right: 10px;
   font-size: 14px;
}
.box1-content a{
   
   color: rgb(33,98,161);
}
.image2{
   height: 300px;
   background-size: cover;
 
}
.box2-content a{
   color: rgb(33,98,161);

}
.box2-content{
   margin-left: 10px;
   margin-right: 10px;
   font-size: 14px;
}
.image3{
   height: 350px;
   background-size: cover;
}
.box3-content a{
   color: rgb(33,98,161);

}
.box3-content{
   margin-left: 10px;
   margin-right: 10px;
   font-size: 14px;
}
.image4{
   height: 350px;
   background-size: cover;
}
.box4-content a{
   color: rgb(33,98,161);
}
.box4-content{
   margin-left: 10px;
   margin-right: 20px;
   font-size: 14px;
}
footer{
   margin-top: 20px;
}
.footer-panel1{
   background-color: rgb(55, 71, 90);
   color: white;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 13px;
}
.footer-panel2{
   background-color: #222f3d;
   color: white;
   height: 400px;
   display: flex;
   justify-content: space-evenly;
}
ul{
   margin-top: 40px;
}
ul p{
   font-weight: 700;
}
ul a{
   display: block;
   font-size: 15px;
   margin-top: 10px;
   color: #dddddd;

}
.footer-panel3{
    background-color: #222f3d;
   color: white;
   border-top: 0.5px solid grey;
   height: 70px;
   display: flex;
   align-items: center;
}
.language{
   border: 0.6px solid #dddddd;
   border-radius: 0.2rem;
   display: flex;
   width: 130px;
   height: 35px;
   align-items: center;
   justify-content: center;
   margin-left: 50px;

}
.language select{
   background: transparent;
   color: #dddddd;
   border: none;
}
.amazonlogo{
   background-size: cover;
    height: 50px;
    width: 200px;
    margin-left: 400px;
   
}
.currency{
   border: 0.6px solid #dddddd;
   border-radius: 0.2rem;
   display: flex;
   width: 130px;
   height: 35px;
   align-items: center;
   justify-content: center;
   margin-left: 20px;
font-size: 12px;
color: #dddddd;
}
.footer-panel4{
   background-color: #0f1111;
   color: #dddddd;
   height: 80px;
   
}
.pages{
   font-size: 0.7rem;
   text-align: center;
   padding-top: 30px;

}
.pages a{
   margin-left: 10px;
}
.copyright{
   padding-top: 5px;;
   font-size: 12px;
   text-align: center;
}
.country{
    border: 0.6px solid #dddddd;
   border-radius: 0.2rem;
   display: flex;
   width: 130px;
   height: 35px;
   align-items: center;
   justify-content: center;
   margin-left: 20px;
font-size: 12px;
color: #dddddd;
}
.country1{
   background-size: cover;
   height: 15px;
   width: 15px;
   margin-right:5px;
}

    